<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="header-box log-in">Log in</h2>
    <div class="info-pane">
      <form name="login_form" class="" action="/login" method="post">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input class="form-control" ng-model="login.email" type="email" name="email" placeholder="your.email@wherever.com">
          <div class="error" ng-show="login_form.email.$dirty && login_form.email.$invalid">
            <small class="error" ng-show="login_form.email.$error.required">
    Email address is required.
      </small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" ng-model="login.password" type="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </div>
  </div>
</div>
