<!DOCTYPE html>
<div class="row" ng-if="$ctrl.loaded" ng-class="{blur: $ctrl.error}">
  <div class="col-md-6">
    <driver-info driver="$ctrl.driver"></driver-info>
    <vehicle-info vehicle="$ctrl.driver.vehicle"></vehicle-info>
    <destination-list ng-if="!$ctrl.traveling" location="$ctrl.currentLocation" traveling="$ctrl.traveling" working="$ctrl.working" trip="$ctrl.trip" error="$ctrl.error"></destination-list>
  </div>
  <div class="col-md-6">
    <apox-map location="$ctrl.currentLocation"></apox-map>
    <trip-progress ng-if="$ctrl.traveling" trip="$ctrl.trip "></trip-progress>
    <location-details ng-if="!$ctrl.traveling" location="$ctrl.currentLocation"></location-details>
  </div>
</div>
<chat-box></chat-box>
<div class="error-modal" ng-if="$ctrl.error ">{{$ctrl.error}}</div>
