<!DOCTYPE html>
<div class="location-details">
  <div class="location-header">
    Location:
    <span class="location-name">{{$ctrl.location.name}}</span>
    <div class="faction-slug {{$ctrl.tags[$ctrl.location.factionid]}}"></div>
  </div>
  <div class="sub-tabs">
    <div class="sub-tab">Rumors</div>
    <div class="sub-tab">Cargo Exchange</div>
    <div class="sub-tab">Service Station</div>
    <div class="sub-tab">Equipment and Weapons</div>
    <div class="sub-tab">Chop Shop</div>
    <div class="sub-tab">Mission Board</div>
  </div>
  <div class="info-pane">
    <table class="table">
      <tr>
        <td class="info-label">Population:</td>
        <td>{{$ctrl.location.population}}</td>
      </tr>
      <tr>
        <td class="info-label">Tech Level:</td>
        <td>{{$ctrl.location.tech}}</td>
      </tr>
    </table>
  </div>
  <div class="info-pane location-description">{{$ctrl.location.description}}</div>
</div>
