<!DOCTYPE html>
<html>
  <head>
    <title>Apocalypse Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header %>
  </body>
</html>
