<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><a href="/register">Register</a></p>
    <p><a href="/login">Login</a></p>
    <% if (typeof user !== 'undefined') { %>
      <p><%= JSON.stringify(user) %></p>
    <% } %>
  </body>
</html>
