<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
  </head>
  <body>
    <h1>Log in</h1>
    <form class="" action="/login" method="post">
      <label for="email">Email Address</label>
      <input id="email" type="text" name="email" placeholder="your.email@wherever.com">
      <label for="password">Password</label>
      <input id="password" type="password" name="password">
      <button type="submit">Log In</button>
    </form>
    <div id="flash">
      <%= flash %>
    </div>
  </body>
</html>
