<div id="map-container" ng-controller="AdminMapController as admin">
  <apox-admin-map></apox-admin-map>
  <div id="detailPanel" class="detail-panel" ng-class="{'out': admin.showDetailPanel}">
    <form>
      <input type="hidden" ng-model="admin.location.locid" name="locid">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" ng-model="admin.location.name" type="text" name="name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" ng-model="admin.location.description" type="text" name="description">
      </textarea>
      </div>
      <div class="form-group">
        <label for="latitude">Latitude</label>
        <input class="form-control" ng-model="admin.location.latitude" type="number" step="any" name="latitude">
      </div>
      <div class="form-group">
        <label for="longitude">Longitude</label>
        <input class="form-control" ng-model="admin.location.longitude" type="number" step="any" name="longitude">
      </div>
      <div class="form-group">
        <label for="population">Population</label>
        <input class="form-control" ng-model="admin.location.population" type="number" min="10" name="population">
      </div>
      <div class="form-group">
        <label for="tech">Tech Level</label>
        <input class="form-control" ng-model="admin.location.tech" type="number" min="0" max="10" name="tech">
      </div>
      <div class="form-group">
        <label for="factionid">Faction</label>
        <select name="factionid">
          <option value="0">None</option>
          <option value="1" ng-selected="admin.location.factionid === 1">Republic of Anatexis</option>
          <option value="2" ng-selected="admin.location.factionid === 2">Hills Confederation</option>
          <option value="3" ng-selected="admin.location.factionid === 3">NO Alliance</option>
          <option value="4" ng-selected="admin.location.factionid === 4">Petrex Enterprises</option>
          <option value="5" ng-selected="admin.location.factionid === 5">The Light</option>
        </select>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select name="type" ng-model="admin.location.type">
          <option value="hold">hold</option>
          <option value="freehold">freehold</option>
          <option value="camp">camp</option>
          <option value="fort">fort</option>
          <option value="compound">compound</option>
          <option value="hardhold">hardhold</option>
          <option value="enclave">enclave</option>
        </select>
      </div>
      <button ng-click="admin.updateLocationDetails()" type="button">Update</button>
      <i ng-click="admin.closeDetailPanel()" class="fa fa-window-close-o close-button"></i>
    </form>

    <hr>
    <a href="/admin/mapseed" target="_new"><button type="button">Export</button></a>
    <a href="/"><img class="homelink" src="/img/ApocXpressLogo-sm.png"></a>
  </div>

</div>
