<!DOCTYPE html>
<div class="location-details">
  <location-header location="$ctrl.location"></location-header>
  <div class="sub-tabs">
    <div class="sub-tab" ng-click="$ctrl.setLoc('rumor')">Rumors</div>
    <div class="sub-tab" ng-click="$ctrl.setLoc('cargo')">Cargo Exchange</div>
    <div class="sub-tab" ng-click="$ctrl.setLoc('service')">Service Station</div>
    <div class="sub-tab" ng-click="$ctrl.setLoc('equip')">Equipment and Weapons</div>
    <div class="sub-tab" ng-click="$ctrl.setLoc('garage')">Chop Shop</div>
    <div class="sub-tab" ng-click="$ctrl.setLoc('mission')">Mission Board</div>
  </div>
  <div class="info-pane">
    <table class="table">
      <tr>
        <td class="info-label">Population:</td>
        <td>{{$ctrl.location.population}}</td>
      </tr>
      <tr>
        <td class="info-label">Tech Level:</td>
        <td>{{$ctrl.location.tech}}</td>
      </tr>
    </table>
  </div>
  <div class="info-pane location-description">{{$ctrl.location.description}}</div>
</div>
