<div class="row">

  <div class="col-md-6">
    <div class="driver-name text-center">
      <span id="driver-name">{{$ctrl.driver.name}}</span>
    </div>
    <div class="location-header">
      Location:
      <span class="location-name" id="location-name">{{$ctrl.currentLocation.name}}</span>
      <div class="faction-slug {{$ctrl.factionTags[$ctrl.currentLocation.factionid]}}"></div>
    </div>
    <div class="location-info">
      Population: {{$ctrl.currentLocation.population}}<br/> Tech Level: {{$ctrl.currentLocation.tech}}
    </div>
    <div class="location-description">{{$ctrl.currentLocation.description}}</div>
  </div>

  <div class="col-md-6">
    <apox-map></apox-map>

    <div class="destinations">
      <table class="table" id="destinations-list">
        <thead>
          <tr>
            <th></th>
            <th>Destination</th>
            <th>Distance</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in $ctrl.currentLocation.connections | orderBy: c.distance" class="{{c.name === $ctrl.destinationName ? 'current' : 'select'}}" ng-click="$ctrl.setDestination(c.id)">
            <td class="col-faction">
              <div class="faction-dot {{$ctrl.factionTags[c.factionid]}}"></div>
            </td>
            <td class="col-name">{{c.name}}</td>
            <td class="col-distance">{{c.distance/1000 | number: 1}} km</td>
            <td class="button">
              <button class="btn-go btn btn-warning" ng-show="c.name === $ctrl.destinationName" ng-click="$ctrl.goDestination();$event.stopPropagation()" ng-disabled="$ctrl.working">
                Hit the road!
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="4" class="button">
              <button class="btn btn-secondary" ng-click="$ctrl.clearDestination()" ng-disabled="$ctrl.working">
                Clear Destination
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="$ctrl.traveling">
      On the road....
    </div>
  </div>

</div>
