<!DOCTYPE html>
<div class="row" ng-if="$ctrl.loaded" ng-class="{blur: $ctrl.error}">
  <div class="col-md-6">
    <driver-name name="$ctrl.driver.name"></driver-name>
    <location-details location="$ctrl.currentLocation" tags="$ctrl.factionTags"></location-details>
  </div>
  <div class="col-md-6">
    <apox-map></apox-map>
    <destination-list ng-if="!$ctrl.traveling" location="$ctrl.currentLocation" traveling="$ctrl.traveling" tags="$ctrl.factionTags" working="$ctrl.working" trip="$ctrl.trip"></destination-list>
    <trip-progress ng-if="$ctrl.traveling" trip="$ctrl.trip"></trip-progress>
  </div>
</div>
<div class="error-modal" ng-if="$ctrl.error">{{$ctrl.error}}</div>
