<!DOCTYPE html>
<div class="game-tabs">
  <div class="tab" ng-click="$ctrl.setState('news')"><span>News</span></div>
  <div class="tab" ng-click="$ctrl.setState('location')"><span>Location</span></div>
  <div class="tab" ng-click="$ctrl.setState('driver')"><span>Driver</span></div>
  <div class="tab" ng-click="$ctrl.setState('vehicle')"><span>Vehicle</span></div>
  <div class="tab" ng-click="$ctrl.setState('travel')"><span>Travel</span></div>
  <div class="tab" ng-click="$ctrl.setState('account')"><span>Account</span></div>
</div>
