.navbar {
  border-top: 20px solid $color_dark;
  border-bottom: 10px solid $color_dark;
  height: 130px;
  background-color:: $color_light;
  background-image: url("/img/header-bg.jpg");
  background-position: 0 -10px;

  a {
    color: $color_hot;
    font-weight: bold;
  }
}

.logo {
  font-size: 4em;
}

.navbar-right {
  padding-right: 40px;
  padding-top: 12px;
}

a.navbar-right {
  padding-right: 12px;
  font-size: 1.5em;
}

.logged-in {
  font-size: 1.2em;
}
/*
  Game Tabs
*/
.game-tabs {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 160px;
  font-family: $font_header;

  .tab {
    cursor: pointer;
    display: flex;
    width: 150px;
    height: 1.3em;
    margin: 0 4px;
    background: $color_dark;
    color: $color_white;
    font-size: 1.5em;
    justify-content: center;

    + .disabled {
      opacity: 0.7;
    }

    &:before {
      position: absolute;
      top: -10px;
      border-bottom: 10px solid $color_dark;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      content: "";
      height: 0;
      width: 150px;
    }

    &:hover {
      background-color: $color_grey;

      &:before {
        border-bottom: 10px solid $color_grey;
      }
    }

    &:active {
      padding-top: 3px;
    }

    span {
      align-self: center;
      display: block;
      bottom: 0;
    }
  }
}

div.flash-alert {
  margin: 20px 0;
  color: $color_hot;
  font-size: 24px;
}
