@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin drop-shadow($px) {
  -webkit-box-shadow: $px+px $px+px 1px 0 rgba(28,18,2,0.5);
  -moz-box-shadow: $px+px $px+px 1px 0 rgba(28,18,2,0.5);
  box-shadow: $px+px $px+px 1px 0 rgba(28,18,2,0.5);
}
@mixin random-offset($w, $h) {
  background-position: left random($w)+px top random($h)+px;
}
@mixin faction-colors() {
  &.light {
    background-color: #aa0;
  }

  &.republic {
    background-color: #00a;
  }

  &.confederation {
    background-color: #a00;
  }

  &.alliance {
    background-color: #0a0;
  }

  &.petrex {
    background-color: #408;
  }
}
