$color_dark: rgba(28, 18, 2, 1);
$color_grey: rgba(56, 48, 40, 1);
$color_hot: rgba(107, 1, 0, 1); // $color_hot: #730101;
$color_bright: rgba(242, 60, 0, 1);
$color_light: rgba(219, 192, 99, 1); // $color_light: #917508;
$color_pale: rgba(221, 211, 201, 1);
$color_white: rgba(244, 244, 244, 1);
$color_blue: #446366;
