.navbar {
  border-top: 20px solid $color_dark;
  height: 120px;
  background-color: $color_light;

  a {
    color: $color_hot;
  }
}

.logo {
  font-size: 4em;
}

.navbar-right {
  padding-right: 40px;
  padding-top: 12px;
}

a.navbar-right {
  padding-right: 12px;
  font-size: 1.5em;
  color: #333;
}

div.greeting {
  font-size: 2em;
}

div.flash-alert {
  margin: 20px 0;
  color: $color_hot;
  font-size: 24px;
}
