@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin random-offset($w, $h) {
  background-position: left random($w)+px top random($h)+px;
}
@mixin faction-colors() {
  &.light {
    background-color: #aa0;
  }

  &.republic {
    background-color: #00a;
  }

  &.confederation {
    background-color: #a00;
  }

  &.alliance {
    background-color: #0a0;
  }

  &.petrex {
    background-color: #408;
  }
}
