body.game-page {
  .driver-name {
    background-color: #eee;
    font-size: 3em;
    font-weight: bold;
    margin: 16px 0;
    padding: 8px;
  }

  .location-header {
    font-size: 2em;
    margin: 16px 0;
  }

  .faction-slug {
    background-color: grey;
    height: 1em;
    width: 150px;
    float: right;
    margin: 8px 0;
    opacity: 0.5;
    -moz-border-radius: 0.5em 0 0 0.5em;
    -webkit-border-radius: 0.5em 0 0 0.5em;
    border-radius: 0.5em 0 0 0.5em;

    &.light {
      background-color: yellow;
    }

    &.republic {
      background-color: blue;
    }

    &.confederation {
      background-color: red;
    }

    &.alliance {
      background-color: green;
    }

    &.petrex {
      background-color: indigo;
    }
  }

  .location-name {
    color: #666;
    font-weight: lighter;
  }

  .location-description {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .destinations {
    background-color: #eee;
    padding: 16px;
    margin: 16px 0;
    font-size: 1.5em;

    table {
      margin: 0;
      background-color: white;

      tr.current td {
        background-color: #666;
        color: white;
      }

      tr td.button {
        text-align: right;
      }
    }
  }

  .go-destination {
    text-align: center;
    font-size: 2.5em;

    span.destination-name {
      font-size: 1.8em;
    }
  }
}
