/* RGB */
$color_dark: rgba(28, 18, 2, 1);
$color_hot: rgba(107, 1, 0, 1);
$color_bright: rgba(242, 60, 0, 1);
$color_light: rgba(219, 192, 99, 1);
$color_pale: rgba(221, 211, 201, 1);
$color_white: rgba(244, 244, 244, 1);
@import '_mixins';
@import '_header';
@import '_pages';

body {
  padding-top: 140px;
  background-color: $color_pale;
  color: $color_dark;
}

div.main-content {
  height: 100vh;
}

.btn-warning {
  background-color: $color_bright;
}

.btn-secondary {
  background-color: $color_pale;
}

.light-bg {
  background-color: $color_light;
}

.error {
  color: $color_hot;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.header-box {
  background-color: $color_light;
  color: $color_dark;
  border: 4px solid $color_dark;
  font-weight: bold;
  margin: 16px 0;
  padding: 8px;
}
