<h1>Manage your user account</h1>
<form name="account_form" class="" action="/user/account?_method=PATCH" method="post">
  <h2>Update User Info</h2>
  <div>
    <%= user.email %>
  </div>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input class="form-control" ng-model="account_form.firstname" type="text" name="firstname" required value="<%= user.firstname %>">
    <div class="error" ng-show="account_form.firstname.$dirty && account_form.firstname.$invalid">
      <small class="error" ng-show="account_form.firstname.$error.required">
First name is required.
  </small>
      <small class="error" ng-show="account_form.firstname.$error.maxlength">
First name must be 60 characters or fewer.
  </small>
    </div>
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input class="form-control" ng-model="account_form.lastname" type="text" name="lastname" required value="<%= user.lastname %>">
    <div class="error" ng-show="account_form.lastname.$dirty && account_form.lastname.$invalid">
      <small class="error" ng-show="account_form.lastname.$error.required">
Last name is required.
  </small>
      <small class="error" ng-show="account_form.lastname.$error.maxlength">
Last name must be 60 characters or fewer.
  </small>
    </div>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="account_form.$invalid">Update Info</button>
</form>
<form name="password_form" class="" action="/user/account?_method=PATCH" method="post">
  <h2>Change Password</h2>
  <div class="form-group">
    <label for="cpassword">Current Password</label>
    <input class="form-control" ng-model="password_form.cpassword" type="password" name="cpassword" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" ng-model="password_form.rpassword" type="password" name="password" required>
    <div class="error" ng-show="password_form.rpassword.$dirty && password_form.rpassword.$invalid">
      <small class="error" ng-show="password_form.rpassword.$error.minlength">
    Password must be at least 8 characters long.
  </small>
      <small class="error" ng-show="password_form.rpassword.$error.minlength">
    Passwords must match.
</small>
      <small class="error" ng-show="password_form.rpassword.$error.minlength">
    Password must contain a number and a special character.
</small>
    </div>
  </div>
  <div class="form-group">
    <label for="vpassword">Verify Password</label>
    <input class="form-control" ng-model="password_form.vpassword" type="password" name="vpassword" required>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="password_form.$invalid">Change Password</button>
</form>
<script>
  onLoadAccount();
</script>
