<% if (user) { %>
  <div ng-controller="GamePageController as game">
    <div>
      <strong>Driver:</strong> <span id="driver-name">{{game.driver.name}}</span>
    </div>
    <div>
      <strong>Current Location:</strong> <span id="location-name">{{game.currentLocation.name}}</span>
    </div>
    <div>{{game.currentLocation.description}}</div>

    <div>
      <strong>Destinations:</strong>
      <ul id="destinations-list">
        <li ng-repeat="c in game.currentLocation.connections | orderBy: c.distance">
          <strong>{{c.name}}</strong>: {{c.distance/1000 | number: 1}}km
          <button ng-click="game.setDestination(c.id)" ng-disabled="game.working">set destination</button>
        </li>
      </ul>
    </div>

    <div ng-if="game.destinationName">
      <strong>Current Destination:</strong> {{game.destinationName}}</strong>
      <button ng-click="game.goDestination()" ng-disabled="game.working">GO</button>
      <button ng-click="game.clearDestination()" ng-disabled="game.working">Clear</button>
    </div>

    <div ng-if="game.traveling">
      On the road....
    </div>
  </div>
  <% } %>
