<% if (user) { %>
  <div ng-controller="GamePageController as game">
    <div>
      <strong>Driver:</strong> <span id="driver-name">{{game.driver.name}}</span>
    </div>
    <div>
      <strong>Current Location:</strong> <span id="location-name">{{game.currentLocation.name}}</span>
    </div>

    <div>
      <strong>Destinations:</strong>
      <ul id="destinations-list">
        <li ng-repeat="c in game.currentLocation.connections | orderBy: c.distance">
          <strong>{{c.name}}</strong>: {{c.distance/1000 | number: 1}}km
        </li>
      </ul>
    </div>
  </div>
  <% } %>
