<% if (user) { %>
  <div ng-controller="GamePageController as game">
    <div>
      <strong>Driver:</strong> <span id="driver-name">{{game.driver.name}}</span>
    </div>
    <div>
      <strong>Current Location:</strong> <span id="location-name">{{game.currentLocation.name}}</span>
    </div>

    <!-- <div>
      <strong>Destinations:</strong>
      <ul>
        <  for (var loc in location.connections) { >
          <li>
            < =JSON.stringify(location.connections[loc]) >
          </li>
          < } >
      </ul>
    </div> -->
  </div>
  <% } %>
