<% if (user) { %>
  <div>
    Driver:
    <%= driver.name %>
  </div>
  <div>
    Current Location:
    <%= location.name %>
  </div>

  <div>
    Possible destinations:
    <ul>
      <%  for (var loc in location.connections) { %>
        <li>
          <%= loc %>
        </li>
        <% } %>
    </ul>
  </div>

  <canvas style="width: 100%;height:100%;border:1px solid black" draw></canvas>

  <% } %>
