<% if (user) { %>
  <div>
    <strong>Driver:</strong>
    <%= driver.name %>
  </div>
  <div>
    <strong>Current Location:</strong>
    <%= location.name %>
  </div>

  <div>
    <strong>Destinations:</strong>
    <ul>
      <%  for (var loc in location.connections) { %>
        <li>
          <%= JSON.stringify(location.connections[loc]) %>
        </li>
        <% } %>
    </ul>
  </div>
  <% } %>
